_pycache__/
*.pyc
backend/.venv
backend/__pycache__/
backend/todo_db/__pycache__/
backend/todo_ai/.env
backend/todo_ai/__pycache__



# Frontend/React files
# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
frontend/node_modules
frontend/.pnp
frontend/.pnp.js

# testing
frontend/coverage

# production
frontend/build

# misc
frontend/.DS_Store
frontend/.env.local
frontend/.env.development.local
frontend/.env.test.local
frontend/.env.production.local

frontend/npm-debug.log*
frontend/yarn-debug.log*
frontend/yarn-error.log*
frontend/README.md
